
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button 
        class="btn btn-primary"  
        (click)="isOdd = !isOdd">
        Show Only Odd Number
      </button>
      <br>
      <br>
      <ul class="list-group">
        <div *ngIf="isOdd">
          <li class="list-group-item"
           *ngFor="let odd of oddNumber"
           [ngClass]="{oddStyling: odd % 2 !== 0}"
           [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'pink' : 'transparent'}">
            {{odd}}
          </li>
        </div>
        <div *ngIf="!isOdd">
          <li class="list-group-item"
           *ngFor="let even of evenNumber"
           [ngClass]="{oddStyling: even % 2 !== 0}"
           [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'pink' : 'transparent'}">
              {{even}}
          </li>
        </div>
      </ul>
      <p appBasicHighlight> Adding my own basic highlight style</p>
      <p> Adding my own style</p>
      <p appBetterHighlight> Adding my own better highlight style</p>

    </div>
  </div>
</div>

